.swiper {
  width: 32vw;
  height: 40vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5vw;
  box-shadow: 0 0 0 1px #242424,
    0 0px 10px 0px rgba(0, 0, 0, .1);
}

/* .swiper-slide:nth-child(1n) {
  background-color: #181818;
}

.swiper-slide:nth-child(2n) {
  background-color: #181818;
} */