@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Clash;
  src: url(../ClashGrotesk-Variable.ttf);
}

@font-face {
  font-family: stardom;
  src: url(../src/assets/Stardom_Complete/Fonts/WEB/fonts/Stardom-Regular.ttf);
}

@font-face {
  font-family: tiny;
  src: url(../Tiny5-Regular.ttf);
}

@font-face {
  font-family: note;
  src: url(../A-Note.ttf);
}

@font-face {
  font-family: ambidex;
  src: url(../src/assets/Ambidexter-Regular.otps/EB/EB/Ambidexter/ambidexter_regular.otf);
}

@font-face {
  font-family: bagnard;
  src: url(../src/assets/Bagnard.otf);
}

.About {
  z-index: 10;
}

.Testi {
  z-index: 6;
}